@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
.container-day {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  font-family: 'Montserrat', sans-serif;
  .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .line {
    width: 3px;
    border-radius: 5px;
    background: #8d8888;
  }
  .container-info {
    margin: 0;
    text-align: left;
    h2 {
      margin: 0;
      font-weight: bold;
      text-transform: capitalize;
      letter-spacing: 2px;
      span {
        text-transform: capitalize;
      }
    }
    h3 {
      text-transform: capitalize;
      letter-spacing: 1px;
      font-weight: 600;
    }
    h4 {
      text-transform: capitalize;
      letter-spacing: 2px;
      font-weight: 600;
      color: #f2f2f2;
    }
    p {
      text-transform: capitalize;
      margin: 5px 0 10px 0;
      letter-spacing: 1.3px;
      font-weight: 400;
      color: #f2f2f2;
    }
    .desc {
      margin: 10px 0 10px 0;
      font-weight: 600;
      color: #f0f0f0;
    }
    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 120%;
      height: 40px;
    }
  }
}

.color-title {
  color: #f7f7f7;
}
.color-subtitle {
  color: #ebebeb;
}

.sun {
  color: #eb8100;
}
.cloud-sun {
  color: #d49b00;
}
.cloud-sun-night,
.cloud-night,
.rain-night,
.storm {
  color: #c9c9c9;
}
.cloud,
.rain,
.sun-rain,
.snow {
  color: #30a2ff;
}

@media screen and (min-width: 1001px) {
  .line {
    height: 250px;
    margin: 0 100px;
  }
  .icon {
    font-size: 12.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
  .desc {
    font-size: 2rem;
  }
  .temp {
    font-size: 2.7rem;
  }
  .flex-container {
    margin: 25px 0 0 0;
  }
}
@media screen and (max-width: 1000px) {
  .container-day {
    flex-direction: row-reverse;
  }
  .container-icon {
    margin-bottom: 10vh;
  }
  .line {
    display: none;
    visibility: hidden;
  }
  .icon {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.85rem;
  }
  .desc {
    font-size: 1.2rem;
  }
  .temp {
    font-size: 1.6rem;
  }
  .flex-container {
    margin: 18px 0 0 0;
  }
}
