$clr-background: #ececec;
$clr-content: #c9c9c9;
$clr-white: #fff;
body {
  margin: 0;
  padding: 0;
  background: $clr-background;
}

main {
  margin: auto;
  margin-top: 5vh;
  width: 70%;
  height: 85vh;
  background: $clr-content;
  border-radius: 40px;
  display: grid;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.input {
  height: 50px;
  display: flex;
  align-items: center;
}

.search-name {
  width: 300px;
  height: 40px;
  background: $clr-white;
  outline: none;
  border: none;
  padding-left: 20px;
}

.search-btn {
  background: $clr-white;
  color: #000;
  width: 45px;
  height: 42px;
  border: white;
  cursor: pointer;
  font-size: 1.1rem;
}
@media screen and (max-width: 1000px) {
  main {
    margin-top: 7vh;
    width: 90%;
    border-radius: 20px;
    height: 80vh;
  }
}

@media screen and (max-width: 500px) {
  .input {
    margin-top: 5rem;
  }
  .search-name {
    width: 170px;
    height: 30px;
  }
  .search-btn {
    width: 30px;
    height: 32px;
    font-size: 1rem;
  }
}
